<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />
    <title>Welcome</title>
  </head>
  <body>
    <div class="header">
      <h1>歡迎光臨，請輸入帳號密碼</h1>
    </div>

    <form action="/signin" method="POST">
      <h3>登入系統</h3>
      <div>帳號<input type="text" name="n" /></div>
      <div>密碼<input type="password" name="p" /></div>
      <button>登入</button>
    </form>

    <h3>計算正整數的平方</h3>
    <div class="center">
      正整數<input type="text" name="number" id="square" />
    </div>
    <button onclick="calculate()">計算</button>
  </body>
  <script>
    function calculate() {
      location.href = "/square/" + document.getElementById("square").value;
    }
  </script>
</html>
