<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />
    <script
      type="text/javascript"
      src="{{url_for('static', filename='index.js')}}"
    ></script>
    <title>Member</title>
  </head>
  <body>
    <div class="header">
      <h1>歡迎來到火箭隊秘密基地</h1>
    </div>
    <div class="container">
      <h3>{{name}}，就是這樣，喵~</h3>
      <a href="/signout"><h3>登出系統</h3></a>

      <form action="/message" method="POST">
        <h3>快來留言吧</h3>
        <div>內容<input type="text" name="content" /></div>
        <button>送出</button>
      </form>

      <form action="/member">
        {%for i in range(0, len)%}
        <li><span>{{cur[i].name}}</span> ： {{cur[i].content}}</li>
        {%endfor%}
      </form>

      <div class="search">
        <h3>查詢會員姓名</h3>
        <div>姓名<input type="text" id="username" /></div>
        <button type="submit" onclick="search()">查詢</button>
      </div>
      <span id="searchName"></span>
      <div class="update">
        <h3>更改我的姓名</h3>
        姓名<input type="text" id="update" placeholder="輸入新的姓名" />
        <button type="submit" onclick="update()">更新</button>
      </div>
      <span id="updateName"></span>
    </div>
  </body>
</html>
